@model UpdateBrandVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">update Brand</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <input class="form-control"  hidden name="Id" value="@Model.Id">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Img</label>
                    <input type="file" class="form-control" name="FormImg" accept="image/*" onchange="previewImage(event)">
                </div>

                <div class="mb-3">
                    <img id="preview"
                         src="~/images/@Model.Img"
                         alt="Current Image"
                         style="max-width: 200px; border:1px solid #ccc; padding:5px; border-radius:10px;" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" style="height: 100px" asp-for="Description">@Model.Description
                        </textarea>
                        <label for="description">You Description Here...</label>
                        <span class="text-danger" asp-validation-for="Description"></span>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="Status" class="form-select">
                        @if(Model.Status)
                        {   
                            <option value="true" selected>Active</option>
                            <option value="false">InActive</option>
                        }
                        else
                        {
                            <option value="true">Active</option>
                            <option value="false" selected>InActive</option>   
                        }

                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result; // الصورة الجديدة
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}


