@model Cura520.Models.Doctor

<h2>Doctor Details</h2>

<div class="card p-4">

    <h4>@Model.Name</h4>

    <p>

        Specialization : @Model.Specialty

    </p>

    <p>

        Phone : @Model.PhoneNumber

    </p>

    <a class="btn btn-success">

        Book Appointment

    </a>

</div>